* {
    margin: 0;
    padding: 0;
}

.T {
    color: red;
}

h5 {
    color: #1C77E3;
    font-style: italic;
}

#form {
    background-color: whitesmoke;
    border-radius: 15px;
    border: 3px solid rgb(255, 255, 255);
    border-color: #1C77E3;
    height: 320px;
    width: 800px;
    margin: auto;
    margin-top: 70px;
    opacity: 10;
}

#first-group {
    border: none;
    width: 350px;
    margin-top: 38px;
    margin-left: 30px;
    position: absolute;
}

#content {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 8px;
    margin-left: 8px;
    padding: 5px;
}

#content #input-group {
    border: none;
    outline: none;
    background: transparent;
    margin-left: 8px;
    width: 300px;
    color: rgb(0, 0, 0);
}

::placeholder {
    color: rgb(0, 0, 0);
}

.fa {
    display: inline-block;
    color: red;
    border-right: 1px solid rgb(0, 0, 0);
    padding: 8px;
    margin-left: 8px;
}

#second-group {
    border: none;
    width: 300px;
    margin-top: 10px;
    padding-top: 38px;
    margin-left: 440px;
}



/* lcjaa*/
.header {
    min-height: 5vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 1% 5%;
    justify-content: space-between;
    background-color: #fff;
    padding-bottom: 0%;

    align-items: left;
}

.nav-links {
    flex: 1;
    text-align: left;
    padding-bottom: 10px;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 2px 30px;
    position: relative;
}

.nav-links ul li a {
    color: primary;
    text-decoration: none;
    font-size: 14px;
}

.nav-links ul li::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: #f44336;
    margin: auto;
    transition: 0.2s;
}

/*hadi*/
.A::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background: #f44336;
    margin: auto;
    transition: 0.2s;
    width: 80%;
}

label {
    text-decoration: none;
}

.nav-links ul li:hover::after {
    width: 80%;
}

label {
    font-family: Georgia, serif;
}

.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    margin-bottom: 13%;
}

i {
    color: white;
    margin-right: 30px;
}

h2 {
    color: #1C77E3;
    size: 100px;
    margin-bottom: 5px;
    padding-bottom: 25px;
    margin-left: 5px;
}

body {
    background-color: white;
}